@tailwind base;
@tailwind components;
@tailwind utilities;

.min-content-area {
  min-height: calc(100vh - 80px);
}

.content-area {
  height: calc(100vh - 80px - 32px - 38px);
}

.member-detail-content-area {
  height: calc(100vh - 80px - 24px - 24px - 16px - 24px - 128px - 20px - 54px - 90px);
}
