@tailwind base;
@tailwind components;
@tailwind utilities;


.responsive-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img > span {
  position: unset !important;
}
